include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include requirements.txt
recursive-include sagan *.py py.typed
recursive-include docs *.md *.yml *.png *.svg
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
